<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Listagem de Categorias</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categorias.forEach(categoria => { %>
                    <tr>
                        <td><%= categoria.id %></td>
                        <td><%= categoria.titulo %></td>
                        <td><%= categoria.slug %></td>
                        <td>
                            <a href="/admin/categorias/<%= categoria.id %>/editar" class="btn btn-warning btn-sm">Editar</a>
                            <form action="/admin/categorias/<%= categoria.id %>" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <!-- <div class="text-center">
            <a href="/admin/categorias/novo" class="btn btn-success">Adicionar Nova Categoria</a>
        </div> -->
    </div>
    
</body>
<%- include('../partials/footer.ejs') %>
