<%- include('../partials/header.ejs') %>
<!-- Link do SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Listagem de Categorias</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categorias.forEach(categoria => { %>
                    <tr>
                        <td><%= categoria.id %></td>
                        <td><%= categoria.titulo %></td>
                        <td><%= categoria.slug %></td>
                        <td>
                            <a href="/admin/categorias/<%= categoria.id %>/editar" class="btn btn-warning btn-sm">Editar</a>
                            <form onsubmit="return confirmarExclusao(event, <%= categoria.id %>)" style="display:inline;">
                                <input type="number" name="id" value="<%= categoria.id %>" class="d-none">
                                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Função de Confirmação de Exclusão com SweetAlert2 -->
    <script>
        const  confirmarExclusao = (event, form) => {
            event.preventDefault();

            
            Swal.fire({
                title: 'Tem certeza?',
                text: "Esta ação não pode ser desfeita!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    
                    const form = event.target
                    form.action = `/categorias/delete`
                    form.method = "POST"
                    form.submit()
                }
            });
        }
    </script>
</body>
<%- include('../partials/footer.ejs') %>
