<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header text-dark">
                <h4 class="mb-0 text-center">Gerenciamento de Categorias</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabelaCategorias" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Slug</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% categorias.forEach(categoria => { %>
                                <tr>
                                    <td class="text-center"><%= categoria.id %></td>
                                    <td class="text-center"><%= categoria.titulo %></td>
                                    <td class="text-center"><%= categoria.slug %></td>
                                    <td class="text-center">
                                        <form  style="display:inline;">
                                            <a class="btn btn-warning btn-sm" href="/admin/categorias/edit/<%= categoria.id %>">Editar</a>
                                        </form>
                                       
                                        <form onsubmit="return confirmarExclusao(event, <%= categoria.id %>)" style="display:inline;">
                                            <input type="number" name="id" value="<%= categoria.id %>" class="d-none">
                                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                        </form>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Inicialização do DataTables -->
    <script>
        $(document).ready(function() {
            $('#tabelaCategorias').DataTable({
                "responsive": true,
                    "retrieve": true,
                    pageLength: 5,
                    "order": [[6, "desc"]],
                    "language": {
                        "url": "../../js/Portuguese-Brasil.json"
                    },
                    "dom": "Bfrtip",
                    "buttons":
                        [
                            {
                                extend: 'excelHtml5',
                                className: "dt-button",
                                text: '<i class="fa fa-file-excel" aria-hidden="true"></i>&nbsp Excel',
                                exportOptions: {
                                    columns: ':not(:last-child)',
                                }
                            }
                            , "copy",
                            {
                                extend: 'pdf',
                                orientation: 'landscape',
                                pageSize: 'A4'
                            },

                        ]
            })
        })

        

        const  confirmarExclusao = (event, form) => {
            event.preventDefault();

            
            Swal.fire({
                title: 'Tem certeza?',
                text: "Esta ação não pode ser desfeita!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    
                    const form = event.target
                    form.action = `/categorias/delete`
                    form.method = "POST"
                    form.submit()
                }
            })
        }
    </script>
   
</body>
<%- include('../partials/footer.ejs') %>